*.pyc
__pycache___
__pycache__/
/__pycache__/
runs
Reacher_backup/
omniisaacgymenvs.egg-info/
checkpoints
omniisaacgymenvs/wandb
omniisaacgymenvs/runs
omniisaacgymenvs/runs/UR10Reacher/nn/UR10Reacher.pth
omniisaacgymenvs/env_training_variables
omniisaacgymenvs/tasks/shared/ur10reacher.code-workspace
